body {
    font-family: sans-serif;
    background: #0f2027; /* fallback for old browsers */
    background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.heading {
    color: #fff;
    font-size: 36px;
}

#btn {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
    color: #fff;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
  }
  
  #query {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
      margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 60%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
  
  #query:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
  

#btn:hover,
#btn:focus {
  opacity: .75;
  border: 1px solid #c50000;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.card {
    width: 80%;
    height: auto;
    margin: 20px;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 6px rgba(0,0,0,.3);
    border-radius: 4px;
    padding: 10px;
}
.title {
    font-size:34px; font-weight:500; 
    text-transform:uppercase;
    padding: 20px;
}
.title:before{
    background-color: #c50000;
    border-radius: 0.25rem;
    content: '';
    display: block;
    height: 0.25rem;
    width: 42px;
    margin-bottom: 1.25rem;
}
.ingredients{
    text-align:center;
  text-transform:uppercase;
  font-size:26px; letter-spacing:1px;
  
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
}

.ingredients:after, .ingredients:before{
    content: " ";
    display: block;
    border-bottom: 2px solid #ccc;
    background-color:#f8f8f8;
}

.ingredientlist{
    font-size: 18px;
}

.instruction{
    font-size: 16px;
    font-weight: 600;
}

.servings {
    font-size: 16px;
}